@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;

}

.root-phone__content {
  background-color:  #EAEAEA;
  min-height: 100vh;
}

html, body {
  margin: 0; 
  height: 100%; 
  background-color: #EAEAEA;
  flex-direction: column;
  display: flex;
}

a {
  text-decoration: none; 
  color: inherit; 
}



#root {
  min-height: 100vh;
  background-color: #EAEAEA;
}

main {
  flex: 1;
  margin-top: 10vh;
  background-color: #EAEAEA;
}