/* .main-desktop-general {
    margin-top: 140px;
} */

.main-desktop-general {
    animation: fadeInDesktop 0.5s ease-in forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeInDesktop 0.7s ease-in forwards;
    animation-delay: 1s; /* Ajusta este valor según necesites */
}

@keyframes fadeInDesktop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }